<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {{>pre_header}}
    <br>
    <h2>Best Platform to get regular Weather Updates</h2> 
    <br> <br> <br> 
    <div>
        <a href = "/user"><h1>User Section</h1></a> 
        <h3>Any user want to get weather updates can visit this section. Thankyou</h3>
    </div>
    <div>
        <a href = "/leader"><h1>Leader Section</h1></a> 
        <h3>Only the members who had permission to change, insert and delete weather data can visit here. Thank You</h3>
    </div>
</body>
</html>