<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leader</title>
</head>
<body> 
    {{>pre_header}}
    <h1>Admin Section</h1> 
    <br> <br> <br>
    <h2>Hello Persons welcome to the Leader Section now please go through and enter your credentials to acess priviledges. </h2> 
    <h3>Some basic guidelines leaders must follow before proceding forward</h3> 
    <ul>
        <li>Visit this section only if you are appointed as a leader otherwise please get back</li>
        <li>Leaders must provide their actual details before logIn</li>
        <li>Leaders must provide their actual details of email, and password before SignUp</li>
        <li>All SignUp fileds are mandatory and must be filled up carefylly</li>
        <li>All LogIn fileds are mandatory and must be filled up carefylly</li>
        <li>Yours password details are all saved in database and can never be hacked</li>
    </ul>
    <a href="/leader/SignUP">SignUp</a>/<a href="/leader/LogIn">LogIN</a>
</body>
</html>