<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin_Page</title>
</head>
<body>
    {{>pre_header}}
    <br><br>
    <h2>Welcome Admin</h2> 
    <br>
    <h3>Hope you all are doing well</h3>
    <br>
    <h3>Now please click on the down butto to proceed forward and acess your priviledges</h3>
    <br>
    <a href="/leader/about"><h4>NEXT -> </h4></a>
</body>
</html>