<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>pre_header}}
    <br>
    {{>leader_header}}
    <br>
    <h1>Admin</h1> 
    <h3>Hello Admin how are you.</h3>
    <h3>Hope you all are doing fine</h3>
    <h3>We heartly thanks you for your contribution</h3>
    <h3>You all are welcome to contribute</h3>
    <h3>But remember. You must fill right weather reports only</h3> 
    <h3>Thank You</h3>
    <br><br><br> 
    <h3>About Weather</h3>
    <p3>Winds had been blowing from the south and southeast all day, but at 22:00 the wind had shifted to the northeast and had dropped to 9km/hr, accompanied by a drop in temperature and pressure and a rise in relative humidity.

Wednesday, November 23rd

Weather stayed relatively stable throughout the day on Wednesday, with temperatures ranging only from five to seven degrees Celsius throughout the day. Cloud cover was complete and consisted of nimbo-stratus clouds, and relative humidity fluctuated by only twelve percentage points between eighty-three and ninety-five percent; no precipitation was observed. Pressure also remained fairly consistent and increased slightly as temperatures dropped at the 22:00 observation, the combination of which staved off rain.</p3>
    
</body>
</html>