<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log IN</title>
</head>
<body>
    {{>pre_header}}
    <h1>Users Login</h1> 
    <br> <br> <br>
    <form method="POST" action="/user/LogIn">
        <label>Email : </label>
        <input type = "text" name="email"/>
        <br>
        <label>Password : </label>
        <input type = "text" name="password"/> 
        <br>
        <input type="submit" value="Submit"/>
    </form>
    <br><br><br>
    <h3>{{message}}</h3>
</body>
</html>