<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Search</title>
</head>
<body>
    {{>pre_header}}
    <br> 
    {{>user_header}}
    <br> 
    <h1>Weather Search</h1> 
    <br> 
    <h2>{{place}}</h2>
    <h3>{{temp}}</h3>
    <h3>{{Rain}}</h3>
    <br> <br>
    <form method="POST" action="/user/weather_search">
        <label>Place : </label>
        <input type = "text" name="place"/>
        <br>
        <input type="submit" value="Submit"/>
    <br><br><br>
    <h3>{{message}}</h3>
</body>
</html>